.playground {
    

    height: 100%;

    margin: auto;
}

td {
    width: 25px;

    height: 25px;

    padding: 3px;

    background-color: aqua;
}

.snakeHead {
    background-color: brown;
}

.snakeBody {
    background-color: darkgreen;
}
